@{
	bool isSingleModel = (bool)ViewData["SingleModel"];

	if (isSingleModel)
	{
		Layout = "~/Views/Shared/_LayoutSingle.cshtml";
		@eBundle.QRender_CSS();
		@eBundle.QRender_JS();
	}
}
@Html.Partial("_section_test1")
<div id="app">
	test
</div>

    

@section Scripts {
<script>
	$(() => {
		new Vue({
			el: '#app',
			data() {
				return {
					msg: "baseTpl"
				}
			}
		})
	});
</script>
}