@using System.Dynamic
@{
	bool isSingleModel = (bool)ViewData["SingleModel"];
	dynamic data = new ExpandoObject();
    if (true)
	{
		Layout = "~/Views/Shared/_LayoutSingle.cshtml";
	}
    GTI_Test GTest = new GTI_Test(Html, ViewContext.HttpContext);
    ViewBag.Title = @Genesis.Common.PageBaseInfo.getCurrentResource("baseTpl").RESOURCE_NAME;
}
@eBundle.QRender_CSS()
@eBundle.QRender_JS()

<h3>
    @ViewBag.Title
</h3>

<div id="app">
    {{msg}}
</div>

<script>
    $(() => {
        new Vue({
            el: '#app',
            data() {
                return {
                    msg: "baseTpl---A"
                }
            }
        })
    });
</script>
