@using System.Dynamic
@model BLL.MES.DataViews.LotData
@{
	dynamic data = new ExpandoObject();
	@*Model.CurrentLot = new {STATUS = "Run",LOT = "5D2NW50000-231128-01"};
    Model.CurrentOperation = new {ATTRIBUTE_03="1",ATTRIBUTE_04="Y"};*@
    GTI_Test GTest = new GTI_Test(Html, ViewContext.HttpContext);
}
@eBundle.QRender_CSS()
@eBundle.QRender_JS()
@Html.Partial("~/Areas/ZZ_DAE/Views/OperTask/_BomMlot.cshtml")
<pre>
</pre>
<div id="app">
    <form id="WipForm"   @@keydown.enter.prevent="preventSubmit">
        <el-row class="panel b">
            <el-button-group>
                <el-button type="primary" size="small" v-for="(val,key) in TestGroup" :label="key" :key="key" @@click="val()">{{key}}</el-button>
            </el-button-group>

            <br />
            <el-row :gutter="12">
                <el-col :lg="12">
                    <component is="cp-bom-mlot" :set_model="set_model" ref="cp" :test1="test"></component>
                </el-col>
            </el-row>
            {{$store.state.globalvar.OperationPartUseList}}
</form>
</div>
<div id="footerCommand">
    <button type="button" class="btn btn-lg btn-labeled btn-success  btn_submit" style="margin:10px 30px;" >
        <span class="btn-label">
            <i class="fa fa-play"></i>
        </span>@RES.BLL.Face.Exec
    </button>
</div>
<script>
    Vue.config.devtools = true;

    $(() => {
        var form = $("#WipForm");
        Vue.use(Vuex);
        var test = {
            //利用這裡,把測試的 Bom 注入物件中
            List_Bom:[{ "SID": "GTI23121310451276778", "BOM_FORM_NO": "5101-231211001", "PARTNO_SID": "GTI23083016242153823", "PARTNO": "2001", "PART_NAME": "2001", "CATEGORY": "Leaf", "QTY": 120, "DESCRIBE": null, "CREATE_USER": "EIS", "CREATE_DATE": "2023-12-13T10:45:12", "UPDATE_USER": "Admin", "UPDATE_DATE": "2023-12-13T11:38:07", "WAREHOUSE_NO": "1B01", "ATTRIBUTE_01": "1", "ATTRIBUTE_02": "0.80000", "ATTRIBUTE_03": null, "ATTRIBUTE_04": null, "ATTRIBUTE_05": null, "ATTRIBUTE_06": null, "ATTRIBUTE_07": null, "ATTRIBUTE_08": null, "ATTRIBUTE_09": null, "ATTRIBUTE_10": null, "ATTRIBUTE_11": null, "ATTRIBUTE_12": null, "ATTRIBUTE_13": null, "ATTRIBUTE_14": null, "ATTRIBUTE_15": null, "ATTRIBUTE_16": null, "QUOTE_ONCE": "T" }, { "SID": "GTI23121310451276779", "BOM_FORM_NO": "5101-231211001", "PARTNO_SID": "GTI23083016242153853", "PARTNO": "2102", "PART_NAME": "2102", "CATEGORY": "Leaf", "QTY": 20, "DESCRIBE": null, "CREATE_USER": "EIS", "CREATE_DATE": "2023-12-13T10:45:12", "UPDATE_USER": "Admin", "UPDATE_DATE": "2023-12-13T11:38:07", "WAREHOUSE_NO": "1B01", "ATTRIBUTE_01": "1", "ATTRIBUTE_02": "0.13300", "ATTRIBUTE_03": null, "ATTRIBUTE_04": null, "ATTRIBUTE_05": null, "ATTRIBUTE_06": null, "ATTRIBUTE_07": null, "ATTRIBUTE_08": null, "ATTRIBUTE_09": null, "ATTRIBUTE_10": null, "ATTRIBUTE_11": null, "ATTRIBUTE_12": null, "ATTRIBUTE_13": null, "ATTRIBUTE_14": null, "ATTRIBUTE_15": null, "ATTRIBUTE_16": null, "QUOTE_ONCE": "T" }, { "SID": "GTI23121310451276780", "BOM_FORM_NO": "5101-231211001", "PARTNO_SID": "GTI23112314170967203", "PARTNO": "2201", "PART_NAME": "101", "CATEGORY": "Leaf", "QTY": 3, "DESCRIBE": null, "CREATE_USER": "EIS", "CREATE_DATE": "2023-12-13T10:45:12", "UPDATE_USER": "Admin", "UPDATE_DATE": "2023-12-13T11:38:07", "WAREHOUSE_NO": "1B01", "ATTRIBUTE_01": "1", "ATTRIBUTE_02": "0.02000", "ATTRIBUTE_03": null, "ATTRIBUTE_04": null, "ATTRIBUTE_05": null, "ATTRIBUTE_06": null, "ATTRIBUTE_07": null, "ATTRIBUTE_08": null, "ATTRIBUTE_09": null, "ATTRIBUTE_10": null, "ATTRIBUTE_11": null, "ATTRIBUTE_12": null, "ATTRIBUTE_13": null, "ATTRIBUTE_14": null, "ATTRIBUTE_15": null, "ATTRIBUTE_16": null, "QUOTE_ONCE": "T" }, { "SID": "GTI23121310451276781", "BOM_FORM_NO": "5101-231211001", "PARTNO_SID": "GTI23112314170967205", "PARTNO": "2202", "PART_NAME": "TAIC", "CATEGORY": "Leaf", "QTY": 1.8, "DESCRIBE": null, "CREATE_USER": "EIS", "CREATE_DATE": "2023-12-13T10:45:12", "UPDATE_USER": "Admin", "UPDATE_DATE": "2023-12-13T11:38:07", "WAREHOUSE_NO": "1B01", "ATTRIBUTE_01": "1", "ATTRIBUTE_02": "0.01200", "ATTRIBUTE_03": null, "ATTRIBUTE_04": null, "ATTRIBUTE_05": null, "ATTRIBUTE_06": null, "ATTRIBUTE_07": null, "ATTRIBUTE_08": null, "ATTRIBUTE_09": null, "ATTRIBUTE_10": null, "ATTRIBUTE_11": null, "ATTRIBUTE_12": null, "ATTRIBUTE_13": null, "ATTRIBUTE_14": null, "ATTRIBUTE_15": null, "ATTRIBUTE_16": null, "QUOTE_ONCE": "T" }],
            List_Bom_Case: [{ "SID": "GTI23112315412468262", "BOM_FORM_NO": "AAA5101-150612002", "PARTNO_SID": "GTI23112314171067261", "PARTNO": "3D5000", "PART_NAME": "4518預成形", "CATEGORY": "Leaf", "QTY": 5256, "DESCRIBE": null, "CREATE_USER": "EIS", "CREATE_DATE": "2023-11-23T15:41:24", "UPDATE_USER": "EIS", "UPDATE_DATE": "2023-11-23T15:41:24", "WAREHOUSE_NO": "1C02", "ATTRIBUTE_01": "1", "ATTRIBUTE_02": "10.51200", "ATTRIBUTE_03": null, "ATTRIBUTE_04": null, "ATTRIBUTE_05": null, "ATTRIBUTE_06": null, "ATTRIBUTE_07": null, "ATTRIBUTE_08": null, "ATTRIBUTE_09": null, "ATTRIBUTE_10": null, "ATTRIBUTE_11": null, "ATTRIBUTE_12": null, "ATTRIBUTE_13": null, "ATTRIBUTE_14": null, "ATTRIBUTE_15": null, "ATTRIBUTE_16": null, "QUOTE_ONCE": "F", "check": 0 }, { "SID": "GTI23112315412468263", "BOM_FORM_NO": "5101-150612002", "PARTNO_SID": "GTI23112314171067294", "PARTNO": "3K0010", "PART_NAME": "Center ring內", "CATEGORY": "Leaf", "QTY": 500, "DESCRIBE": null, "CREATE_USER": "EIS", "CREATE_DATE": "2023-11-23T15:41:24", "UPDATE_USER": "EIS", "UPDATE_DATE": "2023-11-23T15:41:24", "WAREHOUSE_NO": "2C01", "ATTRIBUTE_01": "5", "ATTRIBUTE_02": "1.00000", "ATTRIBUTE_03": null, "ATTRIBUTE_04": null, "ATTRIBUTE_05": null, "ATTRIBUTE_06": null, "ATTRIBUTE_07": null, "ATTRIBUTE_08": null, "ATTRIBUTE_09": null, "ATTRIBUTE_10": null, "ATTRIBUTE_11": null, "ATTRIBUTE_12": null, "ATTRIBUTE_13": null, "ATTRIBUTE_14": null, "ATTRIBUTE_15": null, "ATTRIBUTE_16": null, "QUOTE_ONCE": "F", "check": 0 }],
            備料出站_退庫: [{ "MTR_LOT": "15422-1-1C02-00001", "PARTNO": "3D5000", "PART_NAME": "4518預成形", "UseQty": 5086.55, "QUANTITY": 5256, "WAREHOUSE_NO": "1C02" }, { "MTR_LOT": "3K0010-1-2C01-00001", "PARTNO": "3K0010", "PART_NAME": "Center ring內", "UseQty": 400, "QUANTITY": 500, "WAREHOUSE_NO": "2C00" }],
            多料批: [{ "LIST_MT_SID": "GTI23112815390069536", "MES_MTR_LOT": "15127-1-1C01-00001", "QUANTITY": 418.70000, "ACTION_LINK_SID": null }, { "LIST_MT_SID": "GTI23112815390069535", "MES_MTR_LOT": "15127-1-1C01-00002", "QUANTITY": 418.70000, "ACTION_LINK_SID": null }],
            單一料批: { "WH_MTR_LOT": "2001-15409-1-1B01", "PARTNO": "2001", "WAREHOUSE_NO": "1B01", "Items": [{ "LIST_MT_SID": "GTI23121413324877843", "MES_MTR_LOT": "2001-15409-1-1B01-00001", "QUANTITY": 150.00000, "ACTION_LINK_SID": null }] },
            Lot: {
                Case1: {
                    QUANTITY: 10,
                    STATUS: "Wait",
                    LOT: "5D2NW50000-231128-01",
                    WO: "5101-150612002",
                },
                Case2: {
                    QUANTITY: 10,
                    STATUS: "Wait",
                    LOT: "3B0000-231213-01",
                    WO: "5101-231211001",
                }
            }
        }
        var set_model = {
            CurrentLot: test.Lot.Case2,
            scrapList: [],
            //                dataModel.systemConfig = SystemConfig;
            //                //number設置小數點位數
            //                dataModel.systemConfig.setp = "0." + "1".padStart(SystemConfig.DecimalPoint, "0");
            //                if(SystemConfig.DecimalPoint === 0)
            //dataModel.systemConfig.setp = "1";
            systemConfig: {
                setp: 1,
                DecimalPoint: 3
            },
            CurrentOperation: {
                ATTRIBUTE_03: '1',
                ATTRIBUTE_04: null
            },
            OperScrapList: [
                { "RefKey": null, "SID": "GTI11110115550180956", "No": "other", "Value": null, "Display": "其他", "StatusSid": null, "Status": null, "FromNum": 0, "INum": 0, "Attr01": null, "Attr02": null, "Attr03": null }
                , { "RefKey": null, "SID": "GTI22092622011391630", "No": "R.C01-0002", "Value": null, "Display": "過期", "StatusSid": null, "Status": null, "FromNum": 0, "INum": 0, "Attr01": null, "Attr02": null, "Attr03": null }
                , { "RefKey": null, "SID": "GTI22092622011391632", "No": "R.C01-0004", "Value": null, "Display": "雜質", "StatusSid": null, "Status": null, "FromNum": 0, "INum": 0, "Attr01": null, "Attr02": null, "Attr03": null }
                , { "RefKey": null, "SID": "GTI22092622011391633", "No": "R.C01-0005", "Value": null, "Display": "品質異常", "StatusSid": null, "Status": null, "FromNum": 0, "INum": 0, "Attr01": null, "Attr02": null, "Attr03": null }]
        };
        const store = new Vuex.Store({
            state: {
                set_model,
                globalvar: {
                    scrapTotal: 0,
                }
            },
            getters: {
                getData(state) {
                    return set_model;
                }
            }

        })

        new Vue({
            el: '#app',
            mixins: [Vue.prototype.$UT.Mixins.v_ErrGroup()],
            store,
            provide() {
                return {
                    rootEl: this,
                };
            },
            data() {
                var _self = this;
                return {
                    TestGroup: {
                        進站() {
                            _self.set_model.CurrentLot.STATUS = 'Wait';
                        },
                        出站_有餘料退庫() {
                            _self.set_model.CurrentLot.STATUS = 'Run';
                            _self.set_model.CurrentOperation.ATTRIBUTE_04 = 'Y';
                        },
                        出站_無餘料退庫() {
                            //這個測試,需要重新整理後,測試才會準確
                            _self.set_model.CurrentLot.STATUS = 'Run';
                            _self.set_model.CurrentOperation.ATTRIBUTE_04 = null;

                            //測試注人資料格式和轉換
                            _self._控件.chk_Bom表ByMLot(test.單一料批);
                        },
                        備料出站_退庫() {
                            _self.TestGroup.出站_有餘料退庫();
                            var _cp = _self._控件;
                            if (_cp) {
                                _cp.List_Bom.map(c => c.checked = false);
                                _cp.c_OperationPartUseList = -1;
                                for (var MLot of _self.test.備料出站_退庫) {
                                    _cp.chk_Bom表ByMLot(MLot);
                                }
                                _cp.chk_BomMLot();
                            }
                        },
                        出站_無餘料退庫_多料批() {
                            _self.TestGroup.出站_無餘料退庫();
                            var _cp = _self._控件;
                            if (_cp) {
                                _cp.cwin_MLot.BomItem = _cp.List_Bom[0];
                                _cp.cwin_MLot.list = test.多料批;
                            }
                        },
                    },
                    test,
                    value: [{
                        PARTNO: 'PARTNO',
                        PART_NAME: 'PART_NAME',
                        scraps: [
                            { "RefKey": null, "SID": "GTI11110115550180956", "No": "other", "Value": null, "Display": "其他", "StatusSid": null, "Status": null, "FromNum": 0, "INum": 10, "Attr01": null, "Attr02": null, "Attr03": null }
                            , { "RefKey": null, "SID": "GTI22092622011391630", "No": "R.C01-0002", "Value": null, "Display": "過期", "StatusSid": null, "Status": null, "FromNum": 0, "INum": 20, "Attr01": null, "Attr02": null, "Attr03": null }
                        ],
                        單位: 'kg',
                        長度: 100,
                    }],

                    i18n: {
                        料號: 'AAAA'
                    },
                    bb_test: {
                        "SID": "4378FE38-A049-45B4-B6F6-A749D87F259F",
                        "OPERATION": "EOL-L08",
                        "PROJECT": "CM22BTX03",
                        "CREATE_DATE": "2023-08-07T16:10:00",
                        "MODULE_ID": "0x05C0686TEST",
                        "STATE": "NG",
                        "ACTION_LINK_SID": null,
                        "SN": "TWO-230807A-000009"
                    },
                    set_model
                }
            },
            computed: {
                _控件() {
                    return this.$refs.cp;
                } 
            },
            methods: {
                preventSubmit(event) {
                    // 檢查是否按下了 Enter 鍵 (keyCode 13 或者 key "Enter")
                    if (event.keyCode === 13 || event.key === 'Enter') {
                        event.preventDefault(); // 防止 Enter 的默認行為 (提交表單)
                    }
                },
                Exec(e) {
                    this.$message('ok');
                    if (this.cfg.single_checkout) {
                        e.preventDefault();
                    } else if (form.parsley().validate()) {

                    }
                },
                測試API(key) {
                    debugger
                    var _tar = this.$refs.tar;
                    switch (key) {
                        case "null":
                            _tar.chk_item = null;
                            break;
                        default:
                            this.bb_test.STATE = key;
                            _tar.chk_item = this.bb_test;
                            break;

                    }
                    _tar.set_Exec();
                },
                切換進出站() {
                    let { STATUS } = this.set_model.CurrentLot;
                    this.set_model.CurrentLot.STATUS = STATUS == 'Run' ? 'Wait' : 'Run';
                },
                物料餘料退庫指定() {
                    let { ATTRIBUTE_04 } = this.set_model.CurrentOperation;
                    this.set_model.CurrentOperation.ATTRIBUTE_04 = ATTRIBUTE_04 == 'Y' ? '' : 'Y';
                },
                 
            }
        })
    });
</script>
