@using System.Dynamic
@model BLL.MES.DataViews.LotData
@{
	bool isSingleModel = (bool)ViewData["SingleModel"];
	dynamic data = new ExpandoObject();
	data.LOT="Test";
	Model.CurrentLot = data;
	if (isSingleModel)
	{
		Layout = "~/Views/Shared/_LayoutSingle.cshtml";
	}
    GTI_Test GTest = new GTI_Test(Html, ViewContext.HttpContext);
}
@eBundle.QRender_CSS()
@eBundle.QRender_JS()
@Html.Partial("~/Areas/MES/Views/WIP/Partial2/_useOperPartSplitSubLot.cshtml", @Model)
<div id="app">
    <form id="WipForm">
        <div class="panel b">
            <input type="submit" @@click="Exec" value="Exec" />
            <el-checkbox v-model="single_checkout">single_checkout</el-checkbox>
            <cp-usemtlot ref="usemtlot" v-model="OperationPartUseList" :set_model="set_model"
                         :mtrlot="mtrlot" >
            </cp-usemtlot>
            {{OperationPartUseList[0]}}
        </div>
    </form>
</div>


<script>
    Vue.config.devtools = true;

    $(() => {
        var form = $("#WipForm");
        new Vue({
            el: '#app',
            provide() {
                return {
                    rootEl: this,
                };
            },
            data() {
                return {
                    single_checkout:false,
                    OperationPartUseList: [
                        {
                            "SID": "GTI22050610575359765",
                            "No": "1-0015",
                            "Name": "Ingot",
                            "Spec": "ea",
                            "ConsumptNum": 44,
                            "DefaultUseQty": 1,
                            "UsedNum": 0
                        }
                    ],
                    mtrlot: 
                        [
                            {
                                "MTR_LOT_SID": "GTI22051109412562424",
                                "MTR_LOT": "GTI22051109412562424",
                                "MTR_LOT_1": "",
                                "MTR_LOT_2": "",
                                "MTR_BATCH_NO": "",
                                "MTR_BATCH_SEQ": null,
                                "STATUS": "Run",
                                "QUANTITY": 1,
                                "UNIT": "PCS",
                                "QTY_1": 0,
                                "UNIT_1": "",
                                "QTY_2": 0,
                                "UNIT_2": "",
                                "OPER_SID": "",
                                "OPERATION_NO": "",
                                "OPERATION": "",
                                "WO_SID": "",
                                "WO": "",
                                "LOT_SID": "",
                                "LOT": "",
                                "PRODUCT_SID": "",
                                "PRODUCT": "Seed",
                                "PARTNO_SID": "GTI22050515104759618",
                                "PARTNO": "1-0001",
                                "PARTNO_VER_SID": "GTI22050515104759619",
                                "PARTNO_VERSION": 0,
                                "PRIORITY": "Normal",
                                "CLOSE_DATE": null,
                                "OWNER": "",
                                "EQP_SID": "GTI22062113264725240",
                                "EQP_NO": "R6-04",
                                "ROOT_MTR_LOT_SID": "GTI22051109412562424",
                                "PARENT_MTR_LOT_SID": "",
                                "DATECODE": "",
                                "VENDOR_SID": "",
                                "VENDOR_NO": "",
                                "WAREHOUSE_SID": "",
                                "WAREHOUSE_NO": "",
                                "WAREHOUSE_NAME": "",
                                "EXPIRATION_DATE": "0001-01-01T00:00:00",
                                "EXTEND_EXPIRATION_DATE": "0001-01-01T00:00:00",
                                "ATTRIBUTE_01": "",
                                "ATTRIBUTE_02": "",
                                "ATTRIBUTE_03": "",
                                "ATTRIBUTE_04": "",
                                "ATTRIBUTE_05": "",
                                "ATTRIBUTE_06": "",
                                "ATTRIBUTE_07": "",
                                "ATTRIBUTE_08": "",
                                "ATTRIBUTE_09": "",
                                "ATTRIBUTE_10": "",
                                "ATTRIBUTE_11": null,
                                "ATTRIBUTE_12": null,
                                "ATTRIBUTE_13": null,
                                "ATTRIBUTE_14": null,
                                "ATTRIBUTE_15": null,
                                "ATTRIBUTE_16": null,
                                "CREATE_USER": "110404",
                                "CREATE_DATE": "2022-05-11T09:41:25",
                                "UPDATE_USER": "Admin",
                                "UPDATE_DATE": "2022-06-21T14:24:39",
                                "SID": "GTI22051109412562424",
                                "No": "GTI22051109412562424",
                                "Name": "GTI22051109412562424",
                                "Identity": "GTI22051109412562424",
                                "TableName": "MT_LOT",
                                "IsExist": true
                            },
                            {
                                "MTR_LOT_SID": "GTI22051109415062488",
                                "MTR_LOT": "GTI22051109415062488",
                                "MTR_LOT_1": "",
                                "MTR_LOT_2": "",
                                "MTR_BATCH_NO": "",
                                "MTR_BATCH_SEQ": null,
                                "STATUS": "Run",
                                "QUANTITY": 1,
                                "UNIT": "PCS",
                                "QTY_1": 0,
                                "UNIT_1": "",
                                "QTY_2": 0,
                                "UNIT_2": "",
                                "OPER_SID": "",
                                "OPERATION_NO": "",
                                "OPERATION": "",
                                "WO_SID": "",
                                "WO": "",
                                "LOT_SID": "",
                                "LOT": "",
                                "PRODUCT_SID": "",
                                "PRODUCT": "SiC Wafer",
                                "PARTNO_SID": "GTI22050515114459627",
                                "PARTNO": "1-0002",
                                "PARTNO_VER_SID": "GTI22050515114459628",
                                "PARTNO_VERSION": 0,
                                "PRIORITY": "Normal",
                                "CLOSE_DATE": null,
                                "OWNER": "",
                                "EQP_SID": "GTI22062113264725240",
                                "EQP_NO": "R6-04",
                                "ROOT_MTR_LOT_SID": "GTI22051109415062488",
                                "PARENT_MTR_LOT_SID": "",
                                "DATECODE": "",
                                "VENDOR_SID": "",
                                "VENDOR_NO": "",
                                "WAREHOUSE_SID": "",
                                "WAREHOUSE_NO": "",
                                "WAREHOUSE_NAME": "",
                                "EXPIRATION_DATE": "0001-01-01T00:00:00",
                                "EXTEND_EXPIRATION_DATE": "0001-01-01T00:00:00",
                                "ATTRIBUTE_01": "",
                                "ATTRIBUTE_02": "",
                                "ATTRIBUTE_03": "",
                                "ATTRIBUTE_04": "",
                                "ATTRIBUTE_05": "",
                                "ATTRIBUTE_06": "",
                                "ATTRIBUTE_07": "",
                                "ATTRIBUTE_08": "",
                                "ATTRIBUTE_09": "",
                                "ATTRIBUTE_10": "",
                                "ATTRIBUTE_11": null,
                                "ATTRIBUTE_12": null,
                                "ATTRIBUTE_13": null,
                                "ATTRIBUTE_14": null,
                                "ATTRIBUTE_15": null,
                                "ATTRIBUTE_16": null,
                                "CREATE_USER": "110404",
                                "CREATE_DATE": "2022-05-11T09:41:50",
                                "UPDATE_USER": "Admin",
                                "UPDATE_DATE": "2022-06-21T14:24:39",
                                "SID": "GTI22051109415062488",
                                "No": "GTI22051109415062488",
                                "Name": "GTI22051109415062488",
                                "Identity": "GTI22051109415062488",
                                "TableName": "MT_LOT",
                                "IsExist": true
                            },
                            {
                                "MTR_LOT_SID": "GTI22051109420562553",
                                "MTR_LOT": "GTI22051109420562553",
                                "MTR_LOT_1": "",
                                "MTR_LOT_2": "",
                                "MTR_BATCH_NO": "",
                                "MTR_BATCH_SEQ": null,
                                "STATUS": "Run",
                                "QUANTITY": 1,
                                "UNIT": "PCS",
                                "QTY_1": null,
                                "UNIT_1": "",
                                "QTY_2": null,
                                "UNIT_2": "",
                                "OPER_SID": "",
                                "OPERATION_NO": "",
                                "OPERATION": "",
                                "WO_SID": "",
                                "WO": "",
                                "LOT_SID": "",
                                "LOT": "",
                                "PRODUCT_SID": "",
                                "PRODUCT": "SiC Wafer",
                                "PARTNO_SID": "GTI22050515121759635",
                                "PARTNO": "1-0003",
                                "PARTNO_VER_SID": "GTI22050515121759636",
                                "PARTNO_VERSION": 0,
                                "PRIORITY": "Normal",
                                "CLOSE_DATE": null,
                                "OWNER": "",
                                "EQP_SID": "GTI22062113264725240",
                                "EQP_NO": "R6-04",
                                "ROOT_MTR_LOT_SID": "GTI22051109420562553",
                                "PARENT_MTR_LOT_SID": "",
                                "DATECODE": "",
                                "VENDOR_SID": "",
                                "VENDOR_NO": "",
                                "WAREHOUSE_SID": "",
                                "WAREHOUSE_NO": "",
                                "WAREHOUSE_NAME": "",
                                "EXPIRATION_DATE": "0001-01-01T00:00:00",
                                "EXTEND_EXPIRATION_DATE": "0001-01-01T00:00:00",
                                "ATTRIBUTE_01": "",
                                "ATTRIBUTE_02": "",
                                "ATTRIBUTE_03": "",
                                "ATTRIBUTE_04": "",
                                "ATTRIBUTE_05": "",
                                "ATTRIBUTE_06": "",
                                "ATTRIBUTE_07": "",
                                "ATTRIBUTE_08": "",
                                "ATTRIBUTE_09": "",
                                "ATTRIBUTE_10": "",
                                "ATTRIBUTE_11": null,
                                "ATTRIBUTE_12": null,
                                "ATTRIBUTE_13": null,
                                "ATTRIBUTE_14": null,
                                "ATTRIBUTE_15": null,
                                "ATTRIBUTE_16": null,
                                "CREATE_USER": "110404",
                                "CREATE_DATE": "2022-05-11T09:42:05",
                                "UPDATE_USER": "Admin",
                                "UPDATE_DATE": "2022-06-21T14:24:39",
                                "SID": "GTI22051109420562553",
                                "No": "GTI22051109420562553",
                                "Name": "GTI22051109420562553",
                                "Identity": "GTI22051109420562553",
                                "TableName": "MT_LOT",
                                "IsExist": true
                            },
                            {
                                "MTR_LOT_SID": "GTI22051109422162616",
                                "MTR_LOT": "GTI22051109422162616",
                                "MTR_LOT_1": "",
                                "MTR_LOT_2": "",
                                "MTR_BATCH_NO": "",
                                "MTR_BATCH_SEQ": null,
                                "STATUS": "Run",
                                "QUANTITY": 1,
                                "UNIT": "PCS",
                                "QTY_1": 0,
                                "UNIT_1": "",
                                "QTY_2": 0,
                                "UNIT_2": "",
                                "OPER_SID": "",
                                "OPERATION_NO": "",
                                "OPERATION": "",
                                "WO_SID": "",
                                "WO": "",
                                "LOT_SID": "",
                                "LOT": "",
                                "PRODUCT_SID": "",
                                "PRODUCT": "SiC Wafer",
                                "PARTNO_SID": "GTI22050515125859643",
                                "PARTNO": "1-0004",
                                "PARTNO_VER_SID": "GTI22050515125859644",
                                "PARTNO_VERSION": 0,
                                "PRIORITY": "Normal",
                                "CLOSE_DATE": null,
                                "OWNER": "",
                                "EQP_SID": "GTI22062113264725240",
                                "EQP_NO": "R6-04",
                                "ROOT_MTR_LOT_SID": "GTI22051109422162616",
                                "PARENT_MTR_LOT_SID": "",
                                "DATECODE": "",
                                "VENDOR_SID": "",
                                "VENDOR_NO": "",
                                "WAREHOUSE_SID": "",
                                "WAREHOUSE_NO": "",
                                "WAREHOUSE_NAME": "",
                                "EXPIRATION_DATE": "0001-01-01T00:00:00",
                                "EXTEND_EXPIRATION_DATE": "0001-01-01T00:00:00",
                                "ATTRIBUTE_01": "",
                                "ATTRIBUTE_02": "",
                                "ATTRIBUTE_03": "",
                                "ATTRIBUTE_04": "",
                                "ATTRIBUTE_05": "",
                                "ATTRIBUTE_06": "",
                                "ATTRIBUTE_07": "",
                                "ATTRIBUTE_08": "",
                                "ATTRIBUTE_09": "",
                                "ATTRIBUTE_10": "",
                                "ATTRIBUTE_11": null,
                                "ATTRIBUTE_12": null,
                                "ATTRIBUTE_13": null,
                                "ATTRIBUTE_14": null,
                                "ATTRIBUTE_15": null,
                                "ATTRIBUTE_16": null,
                                "CREATE_USER": "110404",
                                "CREATE_DATE": "2022-05-11T09:42:21",
                                "UPDATE_USER": "Admin",
                                "UPDATE_DATE": "2022-06-21T14:24:39",
                                "SID": "GTI22051109422162616",
                                "No": "GTI22051109422162616",
                                "Name": "GTI22051109422162616",
                                "Identity": "GTI22051109422162616",
                                "TableName": "MT_LOT",
                                "IsExist": true
                            },
                            {
                                "MTR_LOT_SID": "GTI22051109423862680",
                                "MTR_LOT": "GTI22051109423862680",
                                "MTR_LOT_1": "",
                                "MTR_LOT_2": "",
                                "MTR_BATCH_NO": "",
                                "MTR_BATCH_SEQ": null,
                                "STATUS": "Run",
                                "QUANTITY": 1,
                                "UNIT": "Kg",
                                "QTY_1": 0,
                                "UNIT_1": "",
                                "QTY_2": 0,
                                "UNIT_2": "",
                                "OPER_SID": "",
                                "OPERATION_NO": "",
                                "OPERATION": "",
                                "WO_SID": "",
                                "WO": "",
                                "LOT_SID": "",
                                "LOT": "",
                                "PRODUCT_SID": "",
                                "PRODUCT": "SiC Wafer",
                                "PARTNO_SID": "GTI22050515233259651",
                                "PARTNO": "1-0005",
                                "PARTNO_VER_SID": "GTI22050515233259652",
                                "PARTNO_VERSION": 0,
                                "PRIORITY": "Normal",
                                "CLOSE_DATE": null,
                                "OWNER": "",
                                "EQP_SID": "GTI22062113264725240",
                                "EQP_NO": "R6-04",
                                "ROOT_MTR_LOT_SID": "GTI22051109423862680",
                                "PARENT_MTR_LOT_SID": "",
                                "DATECODE": "",
                                "VENDOR_SID": "",
                                "VENDOR_NO": "",
                                "WAREHOUSE_SID": "",
                                "WAREHOUSE_NO": "",
                                "WAREHOUSE_NAME": "",
                                "EXPIRATION_DATE": "0001-01-01T00:00:00",
                                "EXTEND_EXPIRATION_DATE": "0001-01-01T00:00:00",
                                "ATTRIBUTE_01": "",
                                "ATTRIBUTE_02": "",
                                "ATTRIBUTE_03": "",
                                "ATTRIBUTE_04": "",
                                "ATTRIBUTE_05": "",
                                "ATTRIBUTE_06": "",
                                "ATTRIBUTE_07": "",
                                "ATTRIBUTE_08": "",
                                "ATTRIBUTE_09": "",
                                "ATTRIBUTE_10": "",
                                "ATTRIBUTE_11": null,
                                "ATTRIBUTE_12": null,
                                "ATTRIBUTE_13": null,
                                "ATTRIBUTE_14": null,
                                "ATTRIBUTE_15": null,
                                "ATTRIBUTE_16": null,
                                "CREATE_USER": "110404",
                                "CREATE_DATE": "2022-05-11T09:42:38",
                                "UPDATE_USER": "Admin",
                                "UPDATE_DATE": "2022-06-21T14:24:39",
                                "SID": "GTI22051109423862680",
                                "No": "GTI22051109423862680",
                                "Name": "GTI22051109423862680",
                                "Identity": "GTI22051109423862680",
                                "TableName": "MT_LOT",
                                "IsExist": true
                            },
                            {
                                "MTR_LOT_SID": "GTI22051109441662748",
                                "MTR_LOT": "GTI22051109441662748",
                                "MTR_LOT_1": "",
                                "MTR_LOT_2": "",
                                "MTR_BATCH_NO": "",
                                "MTR_BATCH_SEQ": null,
                                "STATUS": "Run",
                                "QUANTITY": 993,
                                "UNIT": "g",
                                "QTY_1": 0,
                                "UNIT_1": "",
                                "QTY_2": 0,
                                "UNIT_2": "",
                                "OPER_SID": "",
                                "OPERATION_NO": "",
                                "OPERATION": "",
                                "WO_SID": "",
                                "WO": "",
                                "LOT_SID": "",
                                "LOT": "",
                                "PRODUCT_SID": "",
                                "PRODUCT": "SiC Wafer",
                                "PARTNO_SID": "GTI22050515274759709",
                                "PARTNO": "1-0012",
                                "PARTNO_VER_SID": "GTI22050515274759710",
                                "PARTNO_VERSION": 0,
                                "PRIORITY": "Normal",
                                "CLOSE_DATE": null,
                                "OWNER": "",
                                "EQP_SID": "GTI22062113264725240",
                                "EQP_NO": "R6-04",
                                "ROOT_MTR_LOT_SID": "GTI22051109441662748",
                                "PARENT_MTR_LOT_SID": "",
                                "DATECODE": "",
                                "VENDOR_SID": "",
                                "VENDOR_NO": "",
                                "WAREHOUSE_SID": "",
                                "WAREHOUSE_NO": "",
                                "WAREHOUSE_NAME": "",
                                "EXPIRATION_DATE": "0001-01-01T00:00:00",
                                "EXTEND_EXPIRATION_DATE": "0001-01-01T00:00:00",
                                "ATTRIBUTE_01": "",
                                "ATTRIBUTE_02": "",
                                "ATTRIBUTE_03": "",
                                "ATTRIBUTE_04": "",
                                "ATTRIBUTE_05": "",
                                "ATTRIBUTE_06": "",
                                "ATTRIBUTE_07": "",
                                "ATTRIBUTE_08": "",
                                "ATTRIBUTE_09": "",
                                "ATTRIBUTE_10": "",
                                "ATTRIBUTE_11": null,
                                "ATTRIBUTE_12": null,
                                "ATTRIBUTE_13": null,
                                "ATTRIBUTE_14": null,
                                "ATTRIBUTE_15": null,
                                "ATTRIBUTE_16": null,
                                "CREATE_USER": "110404",
                                "CREATE_DATE": "2022-05-11T09:44:16",
                                "UPDATE_USER": "Admin",
                                "UPDATE_DATE": "2022-06-21T18:14:59",
                                "SID": "GTI22051109441662748",
                                "No": "GTI22051109441662748",
                                "Name": "GTI22051109441662748",
                                "Identity": "GTI22051109441662748",
                                "TableName": "MT_LOT",
                                "IsExist": true
                            }
                        ]
                    ,
                    set_model: {
                        "EqumentSelectList": [
                            {
                                "RefKey": null,
                                "SID": "GTI22050311421855997",
                                "No": "MW-01",
                                "Value": null,
                                "Display": "Takatori複線切割-01",
                                "StatusSid": null,
                                "Status": null,
                                "FromNum": 0,
                                "INum": 0,
                                "Attr01": null,
                                "Attr02": null,
                                "Attr03": null
                            }
                        ],
 
                        "CurrentLot": {
                            "EnableEditMode": false,
                            "SID": "GTI22061409442508593",
                            "No": "EB3N4B2B4503-01",
                            "Name": "EB3N4B2B4503-01",
                            "Identity": "EB3N4B2B4503-01",
                            "TableName": "WP_LOT",
                            "IsExist": true,
                            "LOT": "EB3N4B2B4503-01",
                            "LOT_1": "",
                            "LOT_2": "",
                            "IS_BATCH_ENABLE": "T",
                            "BATCH_NO": "",
                            "BATCH_SEQ": 0,
                            "STATUS": "Run",
                            "LOT_TYPE": "Normal",
                            "QUANTITY": 44,
                            "UNIT": "EA",
                            "QTY_1": 0,
                            "UNIT_1": "",
                            "QTY_2": 0,
                            "UNIT_2": "",
                            "WO_SID": "EB3N4B2B4503",
                            "WO": "EB3N4B2B4503",
                            "INVENTORY_NO": "",
                            "ROUTE_VER_SID": "GTI22050311421055575",
                            "ROUTE": "6吋Wafering",
                            "ROUTE_VERSION": 1,
                            "IN_ROUTE_CATEGORY": "M",
                            "SUBROUTE_VER_SID": "",
                            "PREGO_ROUTE_VER_OPER_SID": "",
                            "FROM_ROUTE_VER_SID": "GTI22050311421055575",
                            "FROM_ROUTE": "6吋Wafering",
                            "FROM_ROUTE_VERSION": 1,
                            "NEXT_ROUTE_VER_SID": "GTI22050311421055575",
                            "NEXT_ROUTE": "6吋Wafering",
                            "NEXT_ROUTE_VERSION": 1,
                            "ROUTE_VER_OPER_SID": "GTI22050414432658624",
                            "OPER_SID": "GTI22050311421255584",
                            "OPER_SEQ": "002",
                            "OPERATION": "MWS",
                            "OPER_TYPE_VER_SID": "GTI22032513380955130",
                            "FROM_ROUTE_VER_OPER_SID": "GTI22050414432658623",
                            "FROM_OPER_SID": "GTI22050311421255583",
                            "FROM_OPER_SEQ": "001",
                            "FROM_OPERATION": "平邊研磨",
                            "FROM_OPER_TYPE_VER_SID": "GTI22032513110054936",
                            "NEXT_ROUTE_VER_OPER_SID": "GTI22050414432658625",
                            "NEXT_OPER_SID": "GTI22050311421255585",
                            "NEXT_OPER_SEQ": "003",
                            "NEXT_OPERATION": "AS cut measurment",
                            "NEXT_OPER_TYPE_VER_SID": "GTI22032513211555039",
                            "FUN_SEQ": 2,
                            "FUN_SID": "GTI22030910552936287",
                            "FUN_CODE": "RollCheckOut",
                            "NEXT_FUN_SEQ": 1,
                            "NEXT_FUN_SID": "5712c3e9-19c6-44d9-bad1-a783615039b0",
                            "NEXT_FUN_CODE": "CARRIERCHECKIN",
                            "PRODUCT_SID": "GTI22050913464060569",
                            "PRODUCT": "Wafer",
                            "PARTNO_VER_SID": "GTI22050611232259926",
                            "PARTNO": "1-0032",
                            "PARTNO_VERSION": 0,
                            "PRIORITY": "3",
                            "MES_PRIORITY": "",
                            "SCHEDULEDATE": null,
                            "DUEDATE": null,
                            "MES_SCHEDULEDATE": null,
                            "MES_DUEDATE": null,
                            "WTIME_END": null,
                            "QTIME_END": null,
                            "YIELD": 1,
                            "TOTAL_YIELD": 0,
                            "GRADE": "",
                            "IS_QC_REJECT": "F",
                            "QC_REJECT_COUNT": 0,
                            "LOCATION": "",
                            "CUSTOMER": "",
                            "OWNER": "",
                            "DISPATCH_FUTURE_HOLD": "N",
                            "SHIFT_SID": "",
                            "SHIFT_NO": "",
                            "SHIFT": "",
                            "LINE_SID": "",
                            "LINE_NO": "",
                            "LINE": "",
                            "ECN_SID": "",
                            "ECN_NO": "",
                            "ECN_NAME": "",
                            "EQP_LINK_SID": "GTI22061509095114003",
                            "PARTNO_LINK_SID": "GTI22061509122914033",
                            "CARRIER_LINK_SID": "",
                            "TOOL_LINK_SID": "GTI22061509095114003",
                            "ROOT_LOT_SID": "",
                            "PARENT_LOT_SID": "",
                            "OPER_SUM_SCRAP_QTY": 0,
                            "OPER_SUM_SCRAP_QTY1": 0,
                            "OPER_SUM_SCRAP_QTY2": 0,
                            "OPER_SUM_BOUNS_QTY": 0,
                            "OPER_SUM_BOUNS_QTY1": 0,
                            "OPER_SUM_BOUNS_QTY2": 0,
                            "TOTAL_SUM_SCRAP_QTY": 0,
                            "TOTAL_SUM_SCRAP_QTY1": 0,
                            "TOTAL_SUM_SCRAP_QTY2": 0,
                            "TOTAL_SUM_BOUNS_QTY": 0,
                            "TOTAL_SUM_BOUNS_QTY1": 0,
                            "TOTAL_SUM_BOUNS_QTY2": 0,
                            "LAST_STATUS_CHANGE_TIME": "2022-06-15 09:09:51",
                            "OPER_START_TIME": "2022-06-15 09:07:41",
                            "RUN_START_TIME": "2022-06-15 09:09:51",
                            "RUN_END_TIME": null,
                            "OPER_END_TIME": null,
                            "ATTRIBUTE_01": "",
                            "ATTRIBUTE_02": "",
                            "ATTRIBUTE_03": "",
                            "ATTRIBUTE_04": "",
                            "ATTRIBUTE_05": "",
                            "ATTRIBUTE_06": "",
                            "ATTRIBUTE_07": "",
                            "ATTRIBUTE_08": "",
                            "ATTRIBUTE_09": "",
                            "ATTRIBUTE_10": "",
                            "ATTRIBUTE_11": 0,
                            "ATTRIBUTE_12": 0,
                            "ATTRIBUTE_13": 0,
                            "ATTRIBUTE_14": null,
                            "ATTRIBUTE_15": null,
                            "ATTRIBUTE_16": null,
                            "ATTRIBUTE_17": "",
                            "ATTRIBUTE_18": "",
                            "ATTRIBUTE_19": "",
                            "ATTRIBUTE_20": "",
                            "ATTRIBUTE_21": "",
                            "ATTRIBUTE_22": "",
                            "ATTRIBUTE_23": "",
                            "ATTRIBUTE_24": "",
                            "ATTRIBUTE_25": "",
                            "ATTRIBUTE_26": "",
                            "ATTRIBUTE_27": "",
                            "ATTRIBUTE_28": "",
                            "ATTRIBUTE_29": "",
                            "ATTRIBUTE_30": "",
                            "ATTRIBUTE_31": "",
                            "ATTRIBUTE_32": "",
                            "ATTRIBUTE_33": "",
                            "ATTRIBUTE_34": "",
                            "ATTRIBUTE_35": "",
                            "ATTRIBUTE_36": null,
                            "ATTRIBUTE_37": null,
                            "ATTRIBUTE_38": null,
                            "ATTRIBUTE_39": null,
                            "ATTRIBUTE_40": null,
                            "CREATE_USER": "Admin",
                            "CREATE_DATE": "2022-06-14 09:44:24",
                            "UPDATE_USER": "Admin",
                            "UPDATE_DATE": "2022-06-15 09:12:29",
                            "NOTE": "",
                            "WO_LINE_SID": "",
                            "WO_LINE_NO": "",
                            "WO_LINE": "",
                            "MLOT": ""
                        },
 
                        "PartInfo": {
                            "SID": "GTI22050611232259925",
                            "No": "1-0032",
                            "Name": "Wafer",
                            "Identity": "1-0032",
                            "TableName": "PF_PARTNO",
                            "IsExist": true,
                            "PRODUCT_SID": "GTI22050913464060569",
                            "DEFAULT_VERSION": 0,
                            "VERSION_SPEC": "pcs",
                            "VERSION_DESCRIPTION": "",
                            "MAX_VERSION": 0,
                            "CATEGORY": "Product",
                            "ABC_CODE": "C",
                            "LOT_CONTROL_FLAG": "T",
                            "BONDED_FLAG": "F",
                            "PARTNO_TYPE_SID": "8cce8ad7-fc46-48ef-88f3-3fce2cf56138",
                            "PARTNO_CATEGORY_SID_1": "",
                            "PARTNO_CATEGORY_SID_2": "",
                            "PARTNO_CATEGORY_SID_3": "",
                            "PARTNO_CATEGORY_SID_4": "",
                            "PARTNO_CATEGORY_SID_5": "",
                            "PARTNO_CATEGORY_SID_6": "",
                            "PARTNO_CATEGORY_SID_7": "",
                            "UNIT": "PCS",
                            "UNIT_1": "",
                            "UNIT_2": "",
                            "SAVE_QTY": 0,
                            "PARTNO_VER_SID": "GTI22050611232259926",
                            "VERSION": 0,
                            "VERSION_STATE": "Enable",
                            "DEFAULT_FLAG": "F",
                            "ENG_FLAG": "F",
                            "BOM_ENABLE_FLAG": "F",
                            "MANUFACTURE_FALG": "T",
                            "COMP_DEFAULT_QTY": 0,
                            "QTIME_CHECK_TYPE": "",
                            "QTIME_HOLD_FLAG": "F",
                            "QTIME_CHECK_TIME": 0,
                            "EXPIRATION_DATE": 0,
                            "EXTEND_EXPIRATION_DATE": 0,
                            "QTIME": null,
                            "WTIME": null,
                            "ENABLE_TIME": null,
                            "DISABLE_TIME": null,
                            "ATTRIBUTE_01": "",
                            "ATTRIBUTE_02": "",
                            "ATTRIBUTE_03": "",
                            "ATTRIBUTE_04": "",
                            "ATTRIBUTE_05": "",
                            "ATTRIBUTE_06": "",
                            "ATTRIBUTE_07": "",
                            "ATTRIBUTE_08": "",
                            "ATTRIBUTE_09": "",
                            "ATTRIBUTE_10": "",
                            "ATTRIBUTE_11": null,
                            "ATTRIBUTE_12": null,
                            "ATTRIBUTE_13": null,
                            "ATTRIBUTE_14": null,
                            "ATTRIBUTE_15": null,
                            "ATTRIBUTE_16": null,
                            "ATTRIBUTE_17": "",
                            "ATTRIBUTE_18": "",
                            "ATTRIBUTE_19": "",
                            "ATTRIBUTE_20": "",
                            "ATTRIBUTE_21": "",
                            "ATTRIBUTE_22": "",
                            "ATTRIBUTE_23": "",
                            "ATTRIBUTE_24": "",
                            "ATTRIBUTE_25": "",
                            "ATTRIBUTE_26": "",
                            "ATTRIBUTE_27": "",
                            "ATTRIBUTE_28": "",
                            "ATTRIBUTE_29": "",
                            "ATTRIBUTE_30": "",
                            "ATTRIBUTE_31": "",
                            "ATTRIBUTE_32": "",
                            "ATTRIBUTE_33": "",
                            "ATTRIBUTE_34": "",
                            "ATTRIBUTE_35": "",
                            "ATTRIBUTE_36": null,
                            "ATTRIBUTE_37": null,
                            "ATTRIBUTE_38": null,
                            "ATTRIBUTE_39": null,
                            "ATTRIBUTE_40": null,
                            "CREATE_USER": "110404",
                            "CREATE_DATE": "2022-05-06 11:23:22",
                            "UPDATE_USER": "110404",
                            "UPDATE_DATE": "2022-05-09 14:15:23"
                        },
 
                        "OperationPartUseList": [
                            {
                                "SID": "GTI22050610575359765",
                                "No": "1-0015",
                                "Name": "Ingot",
                                "Spec": "ea",
                                "ConsumptNum": 44,
                                "DefaultUseQty": 1,
                                "UsedNum": 0
                            }
                        ],
                        "CarrierList": [
                            {
                                "RefKey": null,
                                "SID": "GTI22050311421855997",
                                "No": "MW-01",
                                "Value": null,
                                "Display": "Takatori複線切割-01",
                                "StatusSid": null,
                                "Status": null,
                                "FromNum": 0,
                                "INum": 0,
                                "Attr01": null,
                                "Attr02": null,
                                "Attr03": null
                            }
                        ],
                        "DetailLotList": null,
                        "Setting": {
                            "CheckInSet": {
                                "IsShowEdcView": false,
                                "IsCollectEDC": true,
                                "IsUseCopeAllEDC": false
                            },
                            "CheckOutSet": {
                                "IsShowSplit": false,
                                "SplitType": "Out",
                                "IsPrintLabel": false,
                                "IsLotSplitQTY": false,
                                "IsLotSplitQTYCheckList": [],
                                "IsSplitBIN": false,
                                "IsPackage": false,
                                "IsPackage_cfg": {
                                    "title": null
                                },
                                "IsReWork": false,
                                "IsReWork_cfg": {
                                    "title": null
                                },
                                "IsGoodQTY": false,
                                "IsGoodUseType": "GoodAndScrap",
                                "IsGrade": false,
                                "IsGradePack": false,
                                "IsWaferLogEDC": false,
                                "IsUseCopeAllEDC": false
                            },
                            "AnySet": {
                                "IsMultiLotSpitEqps": false,
                                "IsOperationWorkingTimeSummery": true,
                                "IsWarehousingOp": false,
                                "UseWareEncodeSetting": "Default",
                                "IsOperationWoBin": false,
                                "IsOperationWoPlate": false
                            }
                        },
                        "OperRouteList": {
                            "OperRouteList": [
                                {
                                    "SID": "GTI22050414432658623",
                                    "No": "[001]平邊研磨",
                                    "Name": "[001]平邊研磨",
                                    "Identity": "[001]平邊研磨",
                                    "TableName": "PF_ROUTE_VER_OPER",
                                    "IsExist": true,
                                    "ROUTE_VER_OPER_SID": "GTI22050414432658623",
                                    "ROUTE_VER_SID": "GTI22050311421055575",
                                    "ROUTE_SID": "GTI22050311421055574",
                                    "ROUTE_NO": "SiC_6'Wafering_01",
                                    "ROUTE": "6吋Wafering",
                                    "VERSION": 1,
                                    "OPER_CATEGORY": "O",
                                    "OPER_SEQ": "001",
                                    "OPER_SID": "GTI22050311421255583",
                                    "OPERATION_NO": "B010",
                                    "OPERATION": "平邊研磨",
                                    "IS_START": "T",
                                    "IS_END": "F",
                                    "CREATE_USER": "110404",
                                    "CREATE_DATE": "2022-05-04 14:43:27",
                                    "UPDATE_USER": "110404",
                                    "UPDATE_DATE": "2022-05-04 14:43:27"
                                },
                                {
                                    "SID": "GTI22050414432658624",
                                    "No": "[002]MWS",
                                    "Name": "[002]MWS",
                                    "Identity": "[002]MWS",
                                    "TableName": "PF_ROUTE_VER_OPER",
                                    "IsExist": true,
                                    "ROUTE_VER_OPER_SID": "GTI22050414432658624",
                                    "ROUTE_VER_SID": "GTI22050311421055575",
                                    "ROUTE_SID": "GTI22050311421055574",
                                    "ROUTE_NO": "SiC_6'Wafering_01",
                                    "ROUTE": "6吋Wafering",
                                    "VERSION": 1,
                                    "OPER_CATEGORY": "O",
                                    "OPER_SEQ": "002",
                                    "OPER_SID": "GTI22050311421255584",
                                    "OPERATION_NO": "B020",
                                    "OPERATION": "MWS",
                                    "IS_START": "F",
                                    "IS_END": "F",
                                    "CREATE_USER": "110404",
                                    "CREATE_DATE": "2022-05-04 14:43:27",
                                    "UPDATE_USER": "110404",
                                    "UPDATE_DATE": "2022-05-04 14:43:27"
                                },
                                {
                                    "SID": "GTI22050414432658625",
                                    "No": "[003]AS cut measurment",
                                    "Name": "[003]AS cut measurment",
                                    "Identity": "[003]AS cut measurment",
                                    "TableName": "PF_ROUTE_VER_OPER",
                                    "IsExist": true,
                                    "ROUTE_VER_OPER_SID": "GTI22050414432658625",
                                    "ROUTE_VER_SID": "GTI22050311421055575",
                                    "ROUTE_SID": "GTI22050311421055574",
                                    "ROUTE_NO": "SiC_6'Wafering_01",
                                    "ROUTE": "6吋Wafering",
                                    "VERSION": 1,
                                    "OPER_CATEGORY": "O",
                                    "OPER_SEQ": "003",
                                    "OPER_SID": "GTI22050311421255585",
                                    "OPERATION_NO": "B030",
                                    "OPERATION": "AS cut measurment",
                                    "IS_START": "F",
                                    "IS_END": "F",
                                    "CREATE_USER": "110404",
                                    "CREATE_DATE": "2022-05-04 14:43:27",
                                    "UPDATE_USER": "110404",
                                    "UPDATE_DATE": "2022-05-04 14:43:27"
                                },
                                {
                                    "SID": "GTI22050414432658626",
                                    "No": "[004]Edge rounding",
                                    "Name": "[004]Edge rounding",
                                    "Identity": "[004]Edge rounding",
                                    "TableName": "PF_ROUTE_VER_OPER",
                                    "IsExist": true,
                                    "ROUTE_VER_OPER_SID": "GTI22050414432658626",
                                    "ROUTE_VER_SID": "GTI22050311421055575",
                                    "ROUTE_SID": "GTI22050311421055574",
                                    "ROUTE_NO": "SiC_6'Wafering_01",
                                    "ROUTE": "6吋Wafering",
                                    "VERSION": 1,
                                    "OPER_CATEGORY": "O",
                                    "OPER_SEQ": "004",
                                    "OPER_SID": "GTI22050311421255586",
                                    "OPERATION_NO": "B040",
                                    "OPERATION": "Edge rounding",
                                    "IS_START": "F",
                                    "IS_END": "F",
                                    "CREATE_USER": "110404",
                                    "CREATE_DATE": "2022-05-04 14:43:27",
                                    "UPDATE_USER": "110404",
                                    "UPDATE_DATE": "2022-05-04 14:43:27"
                                },
                                {
                                    "SID": "GTI22050414432658627",
                                    "No": "[005]Grinding",
                                    "Name": "[005]Grinding",
                                    "Identity": "[005]Grinding",
                                    "TableName": "PF_ROUTE_VER_OPER",
                                    "IsExist": true,
                                    "ROUTE_VER_OPER_SID": "GTI22050414432658627",
                                    "ROUTE_VER_SID": "GTI22050311421055575",
                                    "ROUTE_SID": "GTI22050311421055574",
                                    "ROUTE_NO": "SiC_6'Wafering_01",
                                    "ROUTE": "6吋Wafering",
                                    "VERSION": 1,
                                    "OPER_CATEGORY": "O",
                                    "OPER_SEQ": "005",
                                    "OPER_SID": "GTI22050311421255587",
                                    "OPERATION_NO": "B050",
                                    "OPERATION": "Grinding",
                                    "IS_START": "F",
                                    "IS_END": "F",
                                    "CREATE_USER": "110404",
                                    "CREATE_DATE": "2022-05-04 14:43:27",
                                    "UPDATE_USER": "110404",
                                    "UPDATE_DATE": "2022-05-04 14:43:27"
                                },
                                {
                                    "SID": "GTI22050414432658628",
                                    "No": "[006]DSP",
                                    "Name": "[006]DSP",
                                    "Identity": "[006]DSP",
                                    "TableName": "PF_ROUTE_VER_OPER",
                                    "IsExist": true,
                                    "ROUTE_VER_OPER_SID": "GTI22050414432658628",
                                    "ROUTE_VER_SID": "GTI22050311421055575",
                                    "ROUTE_SID": "GTI22050311421055574",
                                    "ROUTE_NO": "SiC_6'Wafering_01",
                                    "ROUTE": "6吋Wafering",
                                    "VERSION": 1,
                                    "OPER_CATEGORY": "O",
                                    "OPER_SEQ": "006",
                                    "OPER_SID": "GTI22050311421255588",
                                    "OPERATION_NO": "B060",
                                    "OPERATION": "DSP",
                                    "IS_START": "F",
                                    "IS_END": "F",
                                    "CREATE_USER": "110404",
                                    "CREATE_DATE": "2022-05-04 14:43:27",
                                    "UPDATE_USER": "110404",
                                    "UPDATE_DATE": "2022-05-04 14:43:27"
                                },
                                {
                                    "SID": "GTI22050414432658629",
                                    "No": "[007]Laser Mark",
                                    "Name": "[007]Laser Mark",
                                    "Identity": "[007]Laser Mark",
                                    "TableName": "PF_ROUTE_VER_OPER",
                                    "IsExist": true,
                                    "ROUTE_VER_OPER_SID": "GTI22050414432658629",
                                    "ROUTE_VER_SID": "GTI22050311421055575",
                                    "ROUTE_SID": "GTI22050311421055574",
                                    "ROUTE_NO": "SiC_6'Wafering_01",
                                    "ROUTE": "6吋Wafering",
                                    "VERSION": 1,
                                    "OPER_CATEGORY": "O",
                                    "OPER_SEQ": "007",
                                    "OPER_SID": "GTI22050311421255589",
                                    "OPERATION_NO": "B070",
                                    "OPERATION": "Laser Mark",
                                    "IS_START": "F",
                                    "IS_END": "F",
                                    "CREATE_USER": "110404",
                                    "CREATE_DATE": "2022-05-04 14:43:27",
                                    "UPDATE_USER": "110404",
                                    "UPDATE_DATE": "2022-05-04 14:43:27"
                                },
                                {
                                    "SID": "GTI22050414432658630",
                                    "No": "[008]SP1",
                                    "Name": "[008]SP1",
                                    "Identity": "[008]SP1",
                                    "TableName": "PF_ROUTE_VER_OPER",
                                    "IsExist": true,
                                    "ROUTE_VER_OPER_SID": "GTI22050414432658630",
                                    "ROUTE_VER_SID": "GTI22050311421055575",
                                    "ROUTE_SID": "GTI22050311421055574",
                                    "ROUTE_NO": "SiC_6'Wafering_01",
                                    "ROUTE": "6吋Wafering",
                                    "VERSION": 1,
                                    "OPER_CATEGORY": "O",
                                    "OPER_SEQ": "008",
                                    "OPER_SID": "GTI22050311421255590",
                                    "OPERATION_NO": "B080",
                                    "OPERATION": "SP1",
                                    "IS_START": "F",
                                    "IS_END": "F",
                                    "CREATE_USER": "110404",
                                    "CREATE_DATE": "2022-05-04 14:43:27",
                                    "UPDATE_USER": "110404",
                                    "UPDATE_DATE": "2022-05-04 14:43:27"
                                },
                                {
                                    "SID": "GTI22050414432658631",
                                    "No": "[009]SP2",
                                    "Name": "[009]SP2",
                                    "Identity": "[009]SP2",
                                    "TableName": "PF_ROUTE_VER_OPER",
                                    "IsExist": true,
                                    "ROUTE_VER_OPER_SID": "GTI22050414432658631",
                                    "ROUTE_VER_SID": "GTI22050311421055575",
                                    "ROUTE_SID": "GTI22050311421055574",
                                    "ROUTE_NO": "SiC_6'Wafering_01",
                                    "ROUTE": "6吋Wafering",
                                    "VERSION": 1,
                                    "OPER_CATEGORY": "O",
                                    "OPER_SEQ": "009",
                                    "OPER_SID": "GTI22050311421255591",
                                    "OPERATION_NO": "B090",
                                    "OPERATION": "SP2",
                                    "IS_START": "F",
                                    "IS_END": "F",
                                    "CREATE_USER": "110404",
                                    "CREATE_DATE": "2022-05-04 14:43:27",
                                    "UPDATE_USER": "110404",
                                    "UPDATE_DATE": "2022-05-04 14:43:27"
                                },
                                {
                                    "SID": "GTI22050414432658632",
                                    "No": "[010]Scrubber",
                                    "Name": "[010]Scrubber",
                                    "Identity": "[010]Scrubber",
                                    "TableName": "PF_ROUTE_VER_OPER",
                                    "IsExist": true,
                                    "ROUTE_VER_OPER_SID": "GTI22050414432658632",
                                    "ROUTE_VER_SID": "GTI22050311421055575",
                                    "ROUTE_SID": "GTI22050311421055574",
                                    "ROUTE_NO": "SiC_6'Wafering_01",
                                    "ROUTE": "6吋Wafering",
                                    "VERSION": 1,
                                    "OPER_CATEGORY": "O",
                                    "OPER_SEQ": "010",
                                    "OPER_SID": "GTI22050311421255592",
                                    "OPERATION_NO": "B100",
                                    "OPERATION": "Scrubber",
                                    "IS_START": "F",
                                    "IS_END": "F",
                                    "CREATE_USER": "110404",
                                    "CREATE_DATE": "2022-05-04 14:43:27",
                                    "UPDATE_USER": "110404",
                                    "UPDATE_DATE": "2022-05-04 14:43:27"
                                },
                                {
                                    "SID": "GTI22050414432658633",
                                    "No": "[011]檢驗站",
                                    "Name": "[011]檢驗站",
                                    "Identity": "[011]檢驗站",
                                    "TableName": "PF_ROUTE_VER_OPER",
                                    "IsExist": true,
                                    "ROUTE_VER_OPER_SID": "GTI22050414432658633",
                                    "ROUTE_VER_SID": "GTI22050311421055575",
                                    "ROUTE_SID": "GTI22050311421055574",
                                    "ROUTE_NO": "SiC_6'Wafering_01",
                                    "ROUTE": "6吋Wafering",
                                    "VERSION": 1,
                                    "OPER_CATEGORY": "O",
                                    "OPER_SEQ": "011",
                                    "OPER_SID": "GTI22050311421255593",
                                    "OPERATION_NO": "B110",
                                    "OPERATION": "檢驗站",
                                    "IS_START": "F",
                                    "IS_END": "F",
                                    "CREATE_USER": "110404",
                                    "CREATE_DATE": "2022-05-04 14:43:27",
                                    "UPDATE_USER": "110404",
                                    "UPDATE_DATE": "2022-05-04 14:43:27"
                                },
                                {
                                    "SID": "GTI22050414432658634",
                                    "No": "[012]Wafer包裝",
                                    "Name": "[012]Wafer包裝",
                                    "Identity": "[012]Wafer包裝",
                                    "TableName": "PF_ROUTE_VER_OPER",
                                    "IsExist": true,
                                    "ROUTE_VER_OPER_SID": "GTI22050414432658634",
                                    "ROUTE_VER_SID": "GTI22050311421055575",
                                    "ROUTE_SID": "GTI22050311421055574",
                                    "ROUTE_NO": "SiC_6'Wafering_01",
                                    "ROUTE": "6吋Wafering",
                                    "VERSION": 1,
                                    "OPER_CATEGORY": "O",
                                    "OPER_SEQ": "012",
                                    "OPER_SID": "GTI22050311421255594",
                                    "OPERATION_NO": "B120",
                                    "OPERATION": "Wafer包裝",
                                    "IS_START": "F",
                                    "IS_END": "F",
                                    "CREATE_USER": "110404",
                                    "CREATE_DATE": "2022-05-04 14:43:27",
                                    "UPDATE_USER": "110404",
                                    "UPDATE_DATE": "2022-05-04 14:43:27"
                                },
                                {
                                    "SID": "GTI22050414432658635",
                                    "No": "[013]Wafer入庫",
                                    "Name": "[013]Wafer入庫",
                                    "Identity": "[013]Wafer入庫",
                                    "TableName": "PF_ROUTE_VER_OPER",
                                    "IsExist": true,
                                    "ROUTE_VER_OPER_SID": "GTI22050414432658635",
                                    "ROUTE_VER_SID": "GTI22050311421055575",
                                    "ROUTE_SID": "GTI22050311421055574",
                                    "ROUTE_NO": "SiC_6'Wafering_01",
                                    "ROUTE": "6吋Wafering",
                                    "VERSION": 1,
                                    "OPER_CATEGORY": "O",
                                    "OPER_SEQ": "013",
                                    "OPER_SID": "GTI22050311421255595",
                                    "OPERATION_NO": "B130",
                                    "OPERATION": "Wafer入庫",
                                    "IS_START": "F",
                                    "IS_END": "T",
                                    "CREATE_USER": "110404",
                                    "CREATE_DATE": "2022-05-04 14:43:27",
                                    "UPDATE_USER": "110404",
                                    "UPDATE_DATE": "2022-05-04 14:43:27"
                                }
                            ],
                            "CurrentOperKey": "2"
                        },
                        "WOInfo": {
                            "SID": "EB3N4B2B4503",
                            "No": "EB3N4B2B4503",
                            "Name": "EB3N4B2B4503",
                            "Identity": "EB3N4B2B4503",
                            "TableName": "WP_WO",
                            "IsExist": true,
                            "EnableEditMode": false,
                            "WO": "EB3N4B2B4503",
                            "SO": "",
                            "PO": "",
                            "WO_TYPE": "Normal",
                            "WO_TYPE2": "",
                            "WO_TYPE3": "",
                            "STATUS": "Release",
                            "ERP_STATUS": "",
                            "QUANTITY": 90,
                            "ERP_QUANTITY": 0,
                            "UNIT": "EA",
                            "QTY_1": 0,
                            "UNIT_1": "",
                            "QTY_2": 0,
                            "UNIT_2": "",
                            "UNRELEASE_QUANTITY": 0,
                            "RELEASE_QUANTITY": 90,
                            "UNRELEASE_QTY_1": 0,
                            "RELEASE_QTY_1": 0,
                            "UNRELEASE_QTY_2": 0,
                            "RELEASE_QTY_2": 0,
                            "LOT_SIZE": 1,
                            "ROUTE_VER_SID": "GTI22050311421055575",
                            "ROUTE": "6吋Wafering",
                            "ROUTE_VERSION": 1,
                            "PRODUCT_SID": "GTI22050913464060569",
                            "PRODUCT": "Wafer",
                            "PARTNO_VER_SID": "GTI22050611232259926",
                            "PARTNO": "1-0032",
                            "PARTNO_VERSION": 0,
                            "PRIORITY": "3",
                            "OWNER": "",
                            "CUSTOMER": "",
                            "RELEASE_QUANTITY2": 90,
                            "BONDED_FLAG": "F",
                            "BONDED_NO": "",
                            "SCHEDULEDATE": null,
                            "DUEDATE": null,
                            "FACTORY": "",
                            "ECN_SID": "",
                            "ECN_NO": "",
                            "ECN_NAME": "",
                            "WO_LINE_SID": "",
                            "WO_LINE_NO": "",
                            "WO_LINE": "",
                            "ATTRIBUTE_01": "",
                            "ATTRIBUTE_02": "4",
                            "ATTRIBUTE_03": "",
                            "ATTRIBUTE_04": "",
                            "ATTRIBUTE_05": "W",
                            "ATTRIBUTE_06": "",
                            "ATTRIBUTE_07": "",
                            "ATTRIBUTE_08": "",
                            "ATTRIBUTE_09": "",
                            "ATTRIBUTE_10": "",
                            "ATTRIBUTE_11": 0,
                            "ATTRIBUTE_12": 0,
                            "ATTRIBUTE_13": 0,
                            "ATTRIBUTE_14": null,
                            "ATTRIBUTE_15": null,
                            "ATTRIBUTE_16": null,
                            "ATTRIBUTE_17": "",
                            "ATTRIBUTE_18": "",
                            "ATTRIBUTE_19": "",
                            "ATTRIBUTE_20": "",
                            "ATTRIBUTE_21": "",
                            "ATTRIBUTE_22": "",
                            "ATTRIBUTE_23": "",
                            "ATTRIBUTE_24": "",
                            "ATTRIBUTE_25": "",
                            "ATTRIBUTE_26": "",
                            "ATTRIBUTE_27": "",
                            "ATTRIBUTE_28": "",
                            "ATTRIBUTE_29": "",
                            "ATTRIBUTE_30": "",
                            "ATTRIBUTE_31": "",
                            "ATTRIBUTE_32": "",
                            "ATTRIBUTE_33": "",
                            "ATTRIBUTE_34": "",
                            "ATTRIBUTE_35": "",
                            "ATTRIBUTE_36": null,
                            "ATTRIBUTE_37": null,
                            "ATTRIBUTE_38": null,
                            "ATTRIBUTE_39": null,
                            "ATTRIBUTE_40": null,
                            "CREATE_USER": "系統管理員",
                            "CREATE_DATE": "2022-06-14 09:42:56",
                            "UPDATE_USER": "系統管理員",
                            "UPDATE_DATE": "2022-06-14 13:34:57",
                            "CUST_PART_NO": "",
                            "CUST_PART_NO_SID": "",
                            "CUST_PART_NO_VER_SID": ""
                        },
                        "EqpUseToolList": [
                            {
                                "TOOL_SID": "GTI22050616435360309",
                                "TOOL_NO": "1-0019-001",
                                "TOOL_NAME": "槽輪",
                                "STATE_SID": "GTI11072616112180733",
                                "STATE_NO": "Used",
                                "TYPE_SID": "GTI22050613175459940",
                                "TYPE_NO": "1-0019",
                                "DESCRIPTION": "",
                                "LOCATION": "MW-01",
                                "OWNER": "",
                                "VENDOR": "",
                                "USE_COUNT": 77,
                                "MAX_USE_COUNT": 500,
                                "ENABLE_FLAG": "T",
                                "QUOTE_ONCE": "T",
                                "ATTRIBUTE_01": "",
                                "ATTRIBUTE_02": "",
                                "ATTRIBUTE_03": "",
                                "ATTRIBUTE_04": "",
                                "ATTRIBUTE_05": "",
                                "ATTRIBUTE_06": "",
                                "ATTRIBUTE_07": null,
                                "ATTRIBUTE_08": null,
                                "ATTRIBUTE_09": null,
                                "ATTRIBUTE_10": null,
                                "CREATE_USER": "110404",
                                "CREATE_DATE": "2022-05-06 16:43:53",
                                "UPDATE_USER": "Admin",
                                "UPDATE_DATE": "2022-07-05 14:55:31",
                                "USE_COUNT_BY": "Q",
                                "USE_COUNT_RATIO": 1,
                                "ATTRIBUTE_11": "",
                                "ATTRIBUTE_12": "",
                                "ATTRIBUTE_13": "",
                                "ATTRIBUTE_14": "",
                                "ATTRIBUTE_15": "",
                                "ATTRIBUTE_16": "",
                                "ATTRIBUTE_17": "",
                                "ATTRIBUTE_18": "",
                                "ATTRIBUTE_19": "",
                                "ATTRIBUTE_20": "",
                                "ATTRIBUTE_21": "",
                                "ATTRIBUTE_22": "",
                                "ATTRIBUTE_23": "",
                                "ATTRIBUTE_24": "",
                                "ATTRIBUTE_25": "",
                                "ATTRIBUTE_26": "",
                                "ATTRIBUTE_27": "",
                                "ATTRIBUTE_28": "",
                                "ATTRIBUTE_29": "",
                                "ATTRIBUTE_30": "",
                                "ATTRIBUTE_31": "",
                                "ATTRIBUTE_32": "",
                                "ATTRIBUTE_33": "",
                                "ATTRIBUTE_34": "",
                                "ATTRIBUTE_35": "",
                                "ATTRIBUTE_36": "",
                                "ATTRIBUTE_37": "",
                                "ATTRIBUTE_38": "",
                                "ATTRIBUTE_39": "",
                                "ATTRIBUTE_40": ""
                            }
                        ],
                        "PosiMap": null,
                        "CollectLotAttr": null,
                        "WOMapOperInfo": null,
                        "WOTypeInfo": {
                            "RouteVerOperInfo": null,
                            "CurrentOperWoOperInfo": {
                                "RouteInfo": null,
                                "CheckInQTY": 0,
                                "CheckOutQty": 0
                            },
                            "OperStatus": null,
                            "FinishedQty": 0
                        },
                        "WafersWarehouseInfo": null,
                        "systemConfig": {
                            "DecimalPoint": 3,
                            "SystemTitle": "漢民SiC",
                            "IsOpenNewDataImport": true,
                            "IsGlobalPermissions": true,
                            "IsEnableUserTraceLog": true,
                            "IsAutoGenerateSPCControl": true,
                            "IsSystemLayoutConfig": true,
                            "IsReleaseCustomProject": true,
                            "ProjectFolder": "Project",
                            "IsUseWebRoute": false,
                            "IsDCS": false,
                            "IsDefectAllowOverZero": true,
                            "IsRecordOperationRecipeHist": false,
                            "setp": "0.001"
                        },
                        "send_data": {
                            "user_list": {
                                "col": 8,
                                "ref": "multiUserScope",
                                "is": "multi-select-users",
                                "floatFix": false,
                                "model": []
                            },
                            "LotModifyData.Note": {
                                "col": 8,
                                "ref": "dvlotChangeNote",
                                "is": "lot-change-note",
                                "floatFix": false,
                                "model": []
                            },
                            "defectList": {
                                "col": 8,
                                "ref": "defectScope",
                                "is": "cp-defect",
                                "floatFix": false,
                                "model": []
                            },
                            "scrapList": {
                                "col": 8,
                                "ref": "scrapScope",
                                "is": "cp-scrap",
                                "floatFix": true,
                                "model": []
                            },
                            "EqpUseToolList": {
                                "col": 8,
                                "ref": "equipmentUseToolScope",
                                "is": "equipment-use-tool",
                                "floatFix": false,
                                "model": [
                                    {
                                        "TOOL_SID": "GTI22050616435360309",
                                        "TOOL_NO": "1-0019-001",
                                        "TOOL_NAME": "槽輪",
                                        "STATE_SID": "GTI11072616112180733",
                                        "STATE_NO": "Used",
                                        "TYPE_SID": "GTI22050613175459940",
                                        "TYPE_NO": "1-0019",
                                        "DESCRIPTION": "",
                                        "LOCATION": "MW-01",
                                        "OWNER": "",
                                        "VENDOR": "",
                                        "USE_COUNT": 77,
                                        "MAX_USE_COUNT": 500,
                                        "ENABLE_FLAG": "T",
                                        "QUOTE_ONCE": "T",
                                        "ATTRIBUTE_01": "",
                                        "ATTRIBUTE_02": "",
                                        "ATTRIBUTE_03": "",
                                        "ATTRIBUTE_04": "",
                                        "ATTRIBUTE_05": "",
                                        "ATTRIBUTE_06": "",
                                        "ATTRIBUTE_07": null,
                                        "ATTRIBUTE_08": null,
                                        "ATTRIBUTE_09": null,
                                        "ATTRIBUTE_10": null,
                                        "CREATE_USER": "110404",
                                        "CREATE_DATE": "2022-05-06 16:43:53",
                                        "UPDATE_USER": "Admin",
                                        "UPDATE_DATE": "2022-07-05 14:55:31",
                                        "USE_COUNT_BY": "Q",
                                        "USE_COUNT_RATIO": 1,
                                        "ATTRIBUTE_11": "",
                                        "ATTRIBUTE_12": "",
                                        "ATTRIBUTE_13": "",
                                        "ATTRIBUTE_14": "",
                                        "ATTRIBUTE_15": "",
                                        "ATTRIBUTE_16": "",
                                        "ATTRIBUTE_17": "",
                                        "ATTRIBUTE_18": "",
                                        "ATTRIBUTE_19": "",
                                        "ATTRIBUTE_20": "",
                                        "ATTRIBUTE_21": "",
                                        "ATTRIBUTE_22": "",
                                        "ATTRIBUTE_23": "",
                                        "ATTRIBUTE_24": "",
                                        "ATTRIBUTE_25": "",
                                        "ATTRIBUTE_26": "",
                                        "ATTRIBUTE_27": "",
                                        "ATTRIBUTE_28": "",
                                        "ATTRIBUTE_29": "",
                                        "ATTRIBUTE_30": "",
                                        "ATTRIBUTE_31": "",
                                        "ATTRIBUTE_32": "",
                                        "ATTRIBUTE_33": "",
                                        "ATTRIBUTE_34": "",
                                        "ATTRIBUTE_35": "",
                                        "ATTRIBUTE_36": "",
                                        "ATTRIBUTE_37": "",
                                        "ATTRIBUTE_38": "",
                                        "ATTRIBUTE_39": "",
                                        "ATTRIBUTE_40": ""
                                    }
                                ]
                            },
                            "edcList": {
                                "col": 16,
                                "ref": "edcScope",
                                "is": "edc-input",
                                "floatFix": true,
                                "model": [
                                    {
                                        "EdcVerSid": "GTI22050311421555761",
                                        "EdcParameterSid": "GTI22050311421255615",
                                        "QCItemSID": "GTI22050311421255615",
                                        "DataType": "N",
                                        "DataCount": 1,
                                        "DispayPointName": "",
                                        "DispayPointNameList": [
                                            ""
                                        ],
                                        "ItemSid": "GTI22050311421255615",
                                        "ItemNo": "Wafering_15",
                                        "ItemName": "總切片數",
                                        "mustInput": "T",
                                        "UCL": null,
                                        "USL": null,
                                        "LCL": null,
                                        "LSL": null,
                                        "TL": "1",
                                        "EDCSid": "GTI22050311421555760",
                                        "EDCThrowSpc": "T",
                                        "ThrowSpc": "T",
                                        "EDCVerParaSid": "GTI22050311421555762",
                                        "DBTable": "",
                                        "DBColumnName": "",
                                        "InputValueList": [
                                            {
                                                "1": ""
                                            }
                                        ]
                                    }
                                ]
                            },
                            "operationPartUseList": {
                                "col": 20,
                                "ref": "operationPartUseScope",
                                "is": "cp-usemtlot",
                                "floatFix": true,
                                "model": []
                            }
                        }
                    }
                }
            },
            computed: {

            },
            methods: {
                Exec(e) {
                    this.$message('ok');
                    if (this.cfg.single_checkout) {
                        e.preventDefault();
                        var r = this.$refs.usemtlot.get_CheckoutOfPart();

                    } else if (form.parsley().validate()) {

                    }
                    
                }
            }
        })
    });
</script>
